@{
    ViewData["Title"] = "Home Page";
}


<!-- Image Slider Begin-->
<section class="main swiper mySwiper">
    <div class="wrapper swiper-wrapper">
        <div class="slide swiper-slide">
            <img src="images/img1.png" alt="" class="image" />
            <div class="image-data">
                <h2>
                    Family connection and care
                </h2>
                <a href="Service page.html" class="button">Service</a>
            </div>
        </div>
        <div class="slide swiper-slide">
            <img src="images/img2.png" alt="" class="image" />
            <div class="image-data">
                <h2>
                    Property maintenance <br />
                </h2>
                <a href="Service page.html" class="button">Service</a>
            </div>
        </div>
        <div class="slide swiper-slide">
            <img src="images/img3.png" alt="" class="image" />
            <div class="image-data">
                <h2>
                    Holiday arrangements <br />
                </h2>
                <a href="Service page.html" class="button">Service</a>
            </div>
        </div>
        <div class="slide swiper-slide">
            <img src="images/img8.png" alt="" class="image" />
            <div class="image-data">
                <h2>
                    Legal documentation<br />
                </h2>
                <a href="Service page.html" class="button">Service</a>
            </div>
        </div>
        <div class="slide swiper-slide">
            <img src="images/img15.jpg" alt="" class="image" />
            <div class="image-data">
                <h2>
                    Tasks at government departments<br />
                </h2>
                <a href="Service page.html" class="button">Service</a>
            </div>
        </div>
        <div class="slide swiper-slide">
            <img src="images/img11.png" alt="" class="image" />
            <div class="image-data">
                <h2>
                    Social work<br />
                </h2>
                <a href="Service page.html" class="button">Service</a>
            </div>
        </div>
    </div>
    <div class="swiper-button-next nav-btn"></div>
    <div class="swiper-button-prev nav-btn"></div>
    <div class="swiper-pagination"></div>

</section>

<!-- Image Slider Begin-->

<section class="aboutkk">
    <p>
        <b>Are you from Sri Lanka but living abroad?</b><br>
        Too many complications in Sri Lanka to take care of with all that distance? <br>
        What if there is someone that comforts like family, and is loyal like a friend?<br><br>
        <b>Here at KithtoKinLanka we provide all the help you need.</b><br>
    </p>
</section>

<section class="respillarshome">
    <div class="pillarsbkgrd"></div>
    <p>We commit to offer our services based on these </p>
    <h3>FOUR PILLARS: </h3>
    <div class="line-1"></div>
    <div class="row_pillar">
        <div class="col_pillar">
            <img src="images\pillar1.png">
            <div class="desc_pillar"> We are just a click away</div>
        </div>
        <div class="col_pillar">
            <img src="images\pillar4.png">
            <div class="desc_pillar">We keep a relaxed friendship</div>
        </div>
        <div class="col_pillar">
            <img src="images\pillar2.png">
            <div class="desc_pillar">You can count on us</div>
        </div>
        <div class="col_pillar">
            <img src="images\pillar3.png">
            <div class="desc_pillar">You get what you expected</div>
        </div>
    </div>
</section>
<section class="services_home">
    <div class="row_home">
        <div class="col-1">
            <h3>How to get our service:</h3>
            <br>
            <div class="slist">
                <ol>
                    <li> You decide what you want to get done in Sri Lanka <br>(our SERVICE page will guide you) </li>
                    <br>
                    <li>You can connect with us by sending a CONNECTION REQUEST </li>
                    <br>
                    <li>We reach out to you through email or WhatsApp, as preferred by you, to discuss your requirements. </li>
                    <br>
                    <li>
                        Mutually agree on the assignment (a service or services), assignment period, terms and conditions, cost
                        and payment plan.
                    </li>
                    <br>
                    <li> We undertake the assignment while providing you with periodical updates.</li>
                </ol>


                <br>
                <a href="#" class="btn-con-request"><strong>CONNECTION REQUEST</strong></a>
            </div>
        </div>
        <div class="col-1">
            <img src="images/img14.png">
        </div>
    </div>
</section>

<!-- Swiper JS -->
<script src="js/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
        loop: true,
        autoplay: {     //add
            delay: 2000,   //add
        },
        speed: 3000,
        //swiper.el.addEventListener('mouseover', function () {     //add
        //  swiper.autoplay.stop()                              //add
        //})                                                      //add
        //swiper.el.addEventListener('mouseleave', function () {    //add
        //  swiper.autoplay.start()                             //add
        //})
        slidesPerView: 1,
        spaceBetween: 0,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
