<fieldset>
    <div class="form-card">
        <div id="successConfirmDiv" style="display:none">
            <h2 class="fs-title text-center">Success !</h2>
            <p>Here is your confirmation number: <b><span id="confirmationNumber" style="color:black;"></span></b>. Please save this for future reference. You will also get a confirmation to your email.</p>
            <div class="slist">
                <h4>Next steps:</h4>
                <ol>
                    <li>We will reach out to you through your preffered communication method to discuss your requirements </li>
                    <br>
                    <li>
                        Mutually agree on the assignment (a service or services), assignment period, terms and conditions, cost
                        and payment plan
                    </li>
                    <br>
                    <li> We undertake the assignment while providing you with periodical updates</li>
                </ol>
            </div>
            <div class="row justify-content-center">
                <div class="alert alert-success" role="alert">
                    You have successfully submitted a connection request!
                </div>
            </div>
        </div>
        <div id="failConfirmDiv" style="display:none">
            <h2 class="fs-title text-center">Unable to send the request!</h2>
            <div>
               <p>We are unable to send your request right now. Please try again later. We apologies for the inconvinience.</p>
            </div>
            <div class="row justify-content-center">
                <div class="alert alert-danger" role="alert">
                    Connection request not sent!
                </div>
            </div>
        </div>
    </div>
</fieldset>