@{
    ViewData["Title"] = "About Page";
}

<section class="about">
    <div class="space"></div>
    <div class="row_about">
        <div class="col1_about">
            <img src="images\welcome_hands.png.png">
            <div class="box"></div>
        </div>
        <div class="col2_about">
            <!--<h3>About Us</h3><br>-->
            <p>
                There is an increasing trend of people leaving the country of origin to move to other countries
                around the world.
                This trend has been the same for Sri Lankans in the past and is quite regular recently due to the
                economical and political instability within the last few years.
                When the move occurs, people are often required to leave loved ones, wealth, and ongoing tasks
                behind resulting the need of support in the areas like,
            </p>
            <ul>
                <li>Family connection and care</li>
                <li>Property maintenance</li>
                <li>Holiday arrangements</li>
                <li>Legal documentation</li>
                <li>Tasks at government departments</li>
                <li>Social Work</li>
            </ul>
            <br>
            <p>
                With the limited facilities, infrastructure and technology available in the country, addressing these
                requirements from a distance might be extremely complicated.
                <br><br>
                The need for a trustworthy service provider in Sri Lanka to address this complication is now more
                essential than ever. Here at KithtoKinLanka, our purpose is to provide this service that comforts
                like family, and is loyal like a friend.
            </p>
            <div class="box"></div>
        </div>
    </div>
</section>

<section class="vision">
    <h3>Vision</h3>
    <p>To help people live where they choose</p>
    <br>
    <h3>Mission</h3>
    <p>
        To help people with a Sri Lankan origin carry out living abroad with no worry about any responsibilities
        left behind.
    </p>
</section>

<section id="who_we_are" class="who">
    <div class="row_about">
        <div class="col_about">
            <h3>Who we are </h3>
            <br>
            <p>
                KithtoKinLanka (PVT) LTD, is a private limited company registered in Sri Lanka under the companies
                act No 07 of 2007. We provide service only within Sri Lanka for Sri Lankans living abroad.
            </p>
        </div>
        <div class="col_about">
            <img src="images\9whoweare.png">
        </div>
    </div>
</section>

<section class="community">
    <div class="row_about">
        <div class="col_about">
            <img src="images\img5.png">
        </div>
        <div class="col_about">
            <h3 id="our_community">Our Community </h3>
            <p>
                Our community comprises everyone with a Sri Lankan origin. While we live anywhere in the world, we
                like to help each other. Helping others is a value in our culture.
                <br><br>
                Sri Lanka is rich in diversity, whether it is language, religion, culture, gender or even weather!
                Diversity is our wealth. KithtoKinLanka stands for respecting diversity.
                <br><br>
                KithtoKinLanka challenges the under-representation of some groups like women and people with
                disabilities in the Sri Lankan workforce. We give priority to all under-representated people and
                groups in our business.
                <br><br>
                We welcome support from anyone in the community to accomplish our mission while maintaining our
                values, that is, helping each other, inclusion and diversity.
            </p>
        </div>

    </div>
</section>
