* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Noto Serif Display', serif;*/
    font-family: 'Arsenal', sans-serif;
}

.head {
    max-width: 1200px;
    width: 95%;
    margin: auto;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.navbar {
    box-shadow: 0px 2px 5px 0px #434343;
    position: fixed;
    width: 100%;
    background: rgb(25, 107, 125);
    color: #ffffff;
    opacity: 0.95;
    z-index: 50;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: flex-end;
}

.menu-items {
    order: 2;
    display: flex;
}

.logo img {
    order: 1;
    width: 225px;
    position: absolute;
    top: 25px;
    right: 1250px;
}

.logo2 img {
    order: 1;
    opacity: 1;
    width: 250px;
    position: absolute;
    top: 45px;
    right: 650px;
}

.menu-items li {
    list-style: none;
    margin-left: 1.8rem;
    font-size: 1.05rem;
    padding-bottom: 20px;
    /*align-items: flex-end;*/
    text-decoration: none;
    transform: translateX(90px);
}

    .menu-items li a {
        text-decoration: none;
        font-weight: 700;
    }

.btn {
    background-color: transparent;
    border: solid#ffffff;
    border-radius: 50px;
    border-width: 2px;
    padding: 3px 8px;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
}

    .btn:hover {
        background-color: #fff;
        color: #0a809a;
        transition: ease-in 0.5s;
    }

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
}

    .navbar a:not(.btn)::after {
        content: '';
        display: block;
        background: #fff;
        width: 0%;
        height: 2px;
        margin: auto;
    }

    .navbar a:hover::after {
        width: 100%;
        transition-duration: 0.5s;
    }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


.main {
    background-size: cover;
    height: 650px;
    /*width: 100%;*/
}

.slide {
    margin-top: 110px;
    overflow: hidden;
}

    .slide::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    }

    .slide .image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .slide .image-data {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

.image-data span.text {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.image-data h2 {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

a.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 40px;
    color: #333;
    background: #fff;
    text-decoration: none;
    margin-top: 25px;
    transition: all 0.3s ease;
}

    a.button:hover {
        color: #fff;
        background-color: #0a809a;
        text-decoration: none;
    }

.nav-btn::before,
.nav-btn::after {
    font-size: 4px;
    color: #fff;
}

.swiper-pagination-bullet {
    opacity: 1;
    height: 12px;
    width: 12px;
    background-color: #fff;
    visibility: hidden;
}

.swiper-pagination-bullet-active {
    border: 2px solid #fff;
    background-color: #0a809a;
}

@media screen and (max-width: 500px) {
    .nav-btn {
        visibility: hidden;
    }

    .swiper-pagination-bullet {
        visibility: visible;
    }
}

/*Image Slider css end */

.aboutkk {
    display: flex;
    font-size: 25px;
    text-align: center;
    padding: 40px;
    background-color: #0a809a;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

/*pillars section*/
/*--------PillarsHome----------*/
.respillarshome {
    padding: 50px 70px;
    background-color: #f1f1f1;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 600px;
    font-size: 25px;
    text-align: center;
}

    .respillarshome p, h3 {
        text-align: left;
    }

.row_pillar {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.col_pillar {
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

    .col_pillar img {
        width: 60%;
        height: auto;
    }

.desc_pillar {
    margin-top: 5px;
    font-size: 20px;
}

@media (max-width: 768px) {
    .respillarshome {
        padding-top: 60px;
    }

    .row_pillar {
        flex-direction: column;
        margin-top: 0;
    }

    .desc_pillar {
        margin-top: 5px;
        font-size: 20px;
    }

    .col_pillar img {
        width: 50%;
        height: auto;
    }
}

.line-1 {
    height: 5px;
    width: 23%;
    transform: translateX(75px);
    background: linear-gradient(to bottom, transparent 2px, black 2px, black 3px, transparent 3px);
    margin-bottom: 20px;
}

.line-2 {
    height: 5px;
    width: 65%;
    transform: translateX(130px);
    background: linear-gradient(to bottom, transparent 2px, black 2px, black 3px, transparent 3px);
}

/*--------end PillarsHome----------*/

/*--------Services home page----------*/

.services_home {
    background: #0a809a;
    color: #fff;
    padding-left: 40px;
}

    .services_home .col-1 h3 {
        font-size: 35px;
        color: #fff;
    }

/*.services_home .row_home {
    margin: 0;
    background-image: linear-gradient(to right,rgba(0, 0, 0,1) , rgba(0, 0, 0, 0.1)), url(images/img14.png);
}*/

.row_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.col-1 {
    flex-basis: 50%;
    position: relative;
    padding: 30px;
    padding-top: 0;
    margin-top: 20px;
}

    .col-1 h3 {
        padding-top: 10px;
        text-align: left;
        font-size: 50px;
        font-weight: 700;
    }

    .col-1 .slist {
        font-size: 20px;
        padding-left: 55px;
    }

    .col-1 img {
        padding-top: 10px;
        padding-left: 75px;
        width: 85%;
    }


/* Footer */
.contact {
    background-color: #fff;
    padding: 10px;
    padding-left: 70px;
    margin: 0px auto;
    margin-bottom: 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.contact_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 30px 50px;
    overflow: hidden;
}

.contact_col {
    flex-basis: 50%;
    line-height: 1.6;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

address {
    font-style: normal;
    color: #555;
    margin-top: 5px;
    font-size: 18px;
}

.contact a {
    color: #555;
    text-decoration: none;
}

    .contact a:hover {
        color: #000000;
    }

.allrt {
    display: flex;
    text-align: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    color: #a9a7a7;
}

@media (max-width: 768px) {
    .navbar {
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines {
        display: block;
    }

    .navbar-container {
        display: block;
        position: relative;
        height: 110px;
    }

        .navbar-container input[type="checkbox"] {
            position: absolute;
            display: block;
            height: 32px;
            width: 30px;
            top: 40px;
            left: 420px;
            z-index: 5;
            opacity: 0;
            cursor: pointer;
        }

        .navbar-container .hamburger-lines {
            display: block;
            height: 28px;
            width: 35px;
            position: absolute;
            top: 40px;
            left: 420px;
            z-index: 2;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            .navbar-container .hamburger-lines .line {
                display: block;
                height: 4px;
                width: 100%;
                border-radius: 10px;
                background: #ffffff;
            }

            .navbar-container .hamburger-lines .line1 {
                transform-origin: 0% 0%;
                transition: transform 0.3s ease-in-out;
            }

            .navbar-container .hamburger-lines .line2 {
                transition: transform 0.2s ease-in-out;
            }

            .navbar-container .hamburger-lines .line3 {
                transform-origin: 0% 100%;
                transition: transform 0.3s ease-in-out;
            }

    .navbar .menu-items {
        padding-top: 130px;
        background: #0a809a;
        height: 100vh;
        max-width: 275px;
        transform: translate(200%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: 0.5s ease-in-out;
        /*box-shadow: 5px 0px 10px 0px #aaa;*/
        overflow: hidden;
        text-align: center;
    }

        .navbar .menu-items li {
            margin-bottom: 1.8rem;
            font-size: 1.1rem;
            font-weight: 500;
            transform: translateX(0);
        }

    .logo img {
        position: absolute;
        top: 35px;
        right: 330px;
        width: 150px;
    }

    .logo2 img {
        position: absolute;
        top: 55px;
        right: 100px;
        width: 180px;
        opacity: 0.8;
        /*display: none;*/
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items {
        transform: translateX(-10%);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
        transform: rotate(-45deg);
    }

    .navbar a:hover::after {
        width: 50%;
        transition-duration: 0.5s;
    }

    .aboutkk {
        font-size: 20px;
        overflow: hidden;
    }

    .row_home {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .pillars {
        height: auto;
    }

    .contact_row {
        flex-direction: column;
        align-items: baseline;
    }

    .contact_col {
        padding-bottom: 15px;
    }

    .col-1 h3 {
        text-align: center;
    }

    .col-1 {
        flex-basis: 50%;
        position: relative;
        padding: 30px;
        padding-top: 0;
        margin-top: 20px;
    }

        .col-1 h3 {
            padding-top: 10px;
            text-align: left;
            font-size: 50px;
            font-weight: 700;
        }

        .col-1 .slist {
            font-size: 20px;
            padding-left: 20px;
        }

        .col-1 img {
            padding: 0px;
            width: 100%;
        }

    .services_home {
        margin: 0;
        padding-left: 0px;
    }

    .contact {
        padding: 10px;
        padding-left: 0px;
    }

    .allrt {
        display: flex;
        text-align: center;
        padding: 5px;
        justify-content: center;
        align-items: center;
        color: #a9a7a7;
    }
}



/*--------Services page----------*/
.services {
    width: 80%;
    text-align: left;
    padding-top: 120px;
    font-size: 31px;
    margin: auto;
}

.row {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.col {
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

    .col img {
        width: 100%;
        height: 100%;
    }

.desc_service {
    position: relative;
    padding-top: 20px; /* Adjust as needed for spacing */
    font-size: 20px;
    color: #000;
    text-align: center;
}

.layer {
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

    .layer:hover {
        background: rgba(10, 128, 154, 0.8);
    }

    .layer h3 {
        font-size: 23px;
        font-weight: 500;
        width: 80%;
        color: #fff;
        text-align: center;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        opacity: 1;
        transition: 0.5s;
    }

    .layer:hover h3 {
        opacity: 1;
        bottom: 49%;
    }

h1 {
    font-size: 35px;
    padding: 50px 10px;
}

@media (max-width: 768px) {
    .services {
        padding-top: 110px;
    }

    .row {
        flex-direction: column;
        margin-top: 0;
    }
}

.desc {
    background-color: #0a809a;
    text-align: left;
    padding: 50px 0px;
    padding-left: 100px;
    color: #fff;
}

    /*.desc .row{
    background-color: #ebda4e;
}
.desc .col{
    padding: 50px 0px;
    flex-basis: 50%;
    padding-left: 100px;
    margin: auto;
    position: relative;
    font-size: 35px;
}*/
    .desc p {
        font-size: 30px;
        font-weight: 700;
        color: #fff;
    }

/*.desc .btn{
    border: solid #fff;
    border-radius: 50px;
    font-size: 25px;
    padding: 2px 12px;
    border-width: 2px;
    margin-top: 8px;
    color: #fff;
}
.desc .btn:hover{
    background-color: #fff;
    color: #0a809a;
}*/

/*----------About page-----------*/


.space {
    padding-bottom: 150px;
}

.row_about {
    display: flex;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
}

.col1_about {
    flex-basis: 50%;
    position: relative;
    display: flex;
    align-items: center;
}

.col2_about {
    flex-basis: 50%;
    position: relative;
    padding-top: 40px;
    padding-right: 20px;
    font-size: 20px;
    margin-right: 80px;
}

    .col2_about ul {
        padding-left: 150px;
    }

.col1_about img {
    width: 75%;
    margin-left: 0px;
}

.box {
    content: '';
    position: absolute;
    background: #0a809a;
    width: 80%;
    height: 100%;
    top: 30px;
    left: 0;
    z-index: -1;
    transform: translateX(-210px);
}

.col2_about .box {
    content: '';
    position: absolute;
    background: #ebda4e;
    width: 14%;
    height: 100%;
    top: 30px;
    right: 0;
    z-index: -1;
    transform: translateX(700px);
}

.vision {
    padding: 80px 0px;
    background-color: #ffffff;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

    .vision h3 {
        font-size: 30px;
        text-align: center;
    }

        .vision h3::before {
            content: '';
            display: inline-block;
            width: 30px;
            height: 2px;
            background: #333;
        }

        .vision h3::after {
            content: '';
            display: inline-block;
            width: 30px;
            height: 2px;
            background: #333;
        }

.col_about {
    flex-basis: 50%;
    position: relative;
    padding: 80px;
    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 0px;
    height: auto;
}

    .col_about h3 {
        text-align: left;
        font-size: 40px;
        font-weight: 700;
        color: #292f36;
    }

.row_about h3 {
    text-align: left;
    padding: 80px;
    font-size: 40px;
    font-weight: 700;
    color: #292f36;
}

.col_about p {
    font-size: 20px;
}

.who .col_about img {
    width: 100%;
    transform: translateX(80px);
}

.who .col_about {
    flex: 50%;
}

.who .row_about {
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(227, 227, 227));
}

#who_we_are {
    padding-top: 150px; /* Adjust the value based on your banner's height */
}

.community img {
    width: 100%;
    transform: translateX(-25px);
    padding-top: 120px;
}

.community .col_about {
    flex: 50%;
}

.community .col_about {
    margin-bottom: 50px;
}

#our_community {
    padding-top: 150px; /* Adjust the value based on your banner's height */
}

@media (max-width: 768px) {
    .row_about {
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        margin: auto;
    }

    .col1_about {
        flex-basis: 90%;
        margin-bottom: 50px;
    }

    .col2_about {
        flex-basis: 90%;
        text-align: center;
        font-size: 20px;
        margin-right: 0;
        padding-right: 0px;
        padding: 10px 20px;
    }

        .col2_about ul {
            text-align: left;
        }

    .col1_about img {
        width: 100%;
        margin-left: 0px;
    }

    .col2_about .box {
        display: none;
    }

    .col_about h3 {
        text-align: center;
    }

    .box {
        height: 93%;
    }

    .vision {
        padding-bottom: 10px;
        font-size: 20px;
    }

        .vision h3 {
            text-align: center;
            font-size: 30px;
        }

    .col_about {
        padding: 10px 5px;
        padding-bottom: 0;
        margin-top: 5px;
        height: auto;
    }

        .col_about p, h3 {
            text-align: center;
            padding: 5px 20px;
        }

    .who .col_about img {
        width: 100%;
        transform: translateX(0px);
        padding: 0px;
    }

    .who .row_about {
        background-image: linear-gradient(rgb(255, 255, 255), rgb(227, 227, 227));
    }

    .community .row_about {
        background-image: linear-gradient(to top, rgb(255, 255, 255), rgb(227, 227, 227));
    }

    .community img {
        transform: translateX(0px);
        width: 100%;
        padding: 0px;
    }

    .community .row_about {
        flex-direction: column-reverse;
    }
}
