@{
    ViewData["Title"] = "Service Page";
}


<section class="services">
    <br>
    <a><strong>Do you require support to get anything related to the following categories done in Sri Lanka?</strong></a>
    <div class="row">
        <div class="col">
            <img src="images\img1.png">
            <div class="layer">
                <h3>Family connection and care</h3>
            </div>
            <!--<div class="desc_service"> Family connection and care</div>-->
        </div>
        <div class="col">
            <img src="images\img2.png">
            <div class="layer">
                <h3>Property maintenance</h3>
            </div>
            <!--<div class="desc_service"> Property maintenance</div>-->
        </div>
        <div class="col">
            <img src="images\img3.png">
            <div class="layer">
                <h3>Holiday arrangements</h3>
            </div>
            <!--<div class="desc_service"> Holiday arrangements</div>-->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--<div class="desc_service"> Legal documentation</div>-->
            <img src="images\img8.png">
            <div class="layer">
                <h3>Legal documentation</h3>
            </div>
        </div>
        <div class="col">
            <!--<div class="desc_service"> Tasks at government departments</div>-->
            <img src="images\img15.jpg">
            <div class="layer">
                <h3>Tasks at government departments</h3>
            </div>
        </div>
        <div class="col">
            <!--<div class="desc_service"> Social work</div>-->
            <img src="images\img11.png">
            <div class="layer">
                <h3>Social work</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="images\img9.png" style="display: none;">
        </div>
        <div class="col">
            <img src="images\img9.png">
            <div class="layer" style="background: rgba(10, 128, 154, 0.9);">
                <a>
                    <h3 style="opacity: 1; bottom: 49%;">A requirement specific to you</h3>
                </a>
            </div>
        </div>
        <div class="col">
            <img src="images\img9.png" style="display: none;">
        </div>
    </div>
</section>

<section class="desc" id="redirect">
    <p>You can obtain the service of KithToKinLanka by sending a   <a class="btn" href="Connection.html"><strong>CONNECTION REQUEST</strong></a></p>
</section>